:root {
	/*salikt css mainīgos*/
	--color-main: #f1ead0;
	--color-main-dk: #272d2d;
	--color-main-lt: #585a5f;
	--color-alt: #110674;
	--color-alt-dk: #060227;
	--color-accent: #a1d0e9;
	--color-accent-alt: #e79625;

	--fs-hero: 9.314rem;
	--fs-hero-sm: 7.45rem;
	--fs-xxxxl: 3.815rem;
	--fs-xxxl: 3.052rem;
	--fs-xxl: 2.441rem;
	--fs-xl: 1.953rem;
	--fs-lg: 1.563rem;
	--fs-m: 1.25rem;
	--fs-sm: 1rem;
}
html {
	background-color: var(--color-main);
}
body {
	font-family: sans-serif;
	height: 100vh;
	margin: 0;
	overflow-x: hidden;
}
* {
}
.main-title {
	color: var(--color-alt);
	font-size: var(--fs-xxxxl);
}
h2 {
	color: var(--color-alt);
	font-weight: 500;
	font-size: var(--fs-xxl);
	margin: 24px 0;
}
.button {
	background-color: var(--color-alt);
	color: var(--color-main);
	font-size: var(--fs-lg);
	padding: 12px 0;
	margin: 12px 0;
	text-align: center;
	border-radius: 8px;
	border: 2px solid var(--color-alt);
	transition: 0.4s all ease-in-out;
}
.button:hover {
	cursor: pointer;
	background-color: var(--color-alt-dk);
}

.link {
	color: var(--color-alt);
	margin: 12px 0;
	border-bottom: 2px solid var(--color-alt);
}
/*form elements*/
label {
	color: var(--color-alt);
	font-size: var(--fs-lg);
	font-weight: 200;
	margin: 8px 0;
}
input {
	background-color: var(--color-main);
	font-size: var(--fs-lg);
	font-weight: 200;
	margin: 4px 0;
	padding: 10px 12px;
	border: 0;
	border-bottom: 2px solid var(--color-alt);
	color: var(--color-alt);
}
