/*navbar*/
.navbar-position {
	position: fixed;
	width: 100%;
	z-index: 6;
}
.navbar {
	padding: 8px 32px;
	background-color: var(--color-main);
	display: flex;
}
.nav-link {
	margin: 0 16px;
}
.navbar-collapse {
	display: flex;
	flex-grow: 1;
	justify-content: end;
	align-items: center;
}
.navbar-nav {
	display: flex;
	list-style: none;
	padding: 0;
	box-sizing: border-box;
}
/*nav-item*/
.navbar-brand {
}
.nav-item {
	text-align: center;
}
