
#landing-container {
	width: 100%;
	padding: 0;
	color: var(--color-main);
	scroll-behavior: smooth;
}

#landing-section {
	display: flex;
	position: relative;
	overflow: hidden;
	background-color: var(--color-main);
	height: 960px;
}
.landing-img-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.landing-bg-img {
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	filter: brightness(80%) contrast(140%) grayscale(20%);
	z-index: 2;
}
.landing-content-container {
	height: 100%;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.landing-content-container::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
	background-color: var(--color-alt);
	filter: brightness(90%);
	opacity: 0.9;
}
.landing-section-bg {
	position: absolute;
	z-index: 3;
	height: 100%;
	width: 100%;
	background: linear-gradient(16deg, 
		rgba(0,0,1,0.9) 14%, 
		rgba(0,0,1,0.2) 42%, 
		rgba(0,0,0,0) 80%);
}
.landing-content {
	padding: 32px 0;
	z-index: 5;
}
.hero-row {
	margin: 24px 0 16px 0;
	display: flex;
	flex-direction: column;
}
#hero-title {
	font-size: var(--fs-hero-sm);

	color: var(--color-main);
	display: inline;
	padding: 0 16px;
	background-color: var(--color-alt);
	font-weight: 300;
	line-height: 1.5;
}

.moto {
	font-size: var(--fs-xxl);
	font-family: "Dancing Script", sans-serif;
	white-space: pre-wrap;
	display: inline-block;
	overflow: hidden;
	background-color: var(--color-main);
	color: var(--color-alt);

	font-weight: 400;
	padding: 0 16px;
}
.sign-in-container {
	width: 360px;
	padding: 24px 16px;
	margin: 48px;
	display: flex;
	flex-direction: column;
}
.sign-in-container > h2 {
	margin: 10px 0 28px 0;
	font-weight: 300;
}
.sign-in-or {
	color: var(--color-main);
	font-size: var(--fs-sm);
	width: 100%;
	text-align: center;
	margin: 8px 0 0 0;
	opacity: 75%;
}
.register-link {
	color: var(--color-main);
	font-size: var(--fs-m);
	text-align: center;
	margin: 4px 0;
}
.landing-content-bg {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	opacity: 1;
	min-width: 100%;
	height: 100%;
}
.landing-hero-container{
	flex-grow: 2;
	display: flex;
	position: relative;
	align-items: center;
	padding: 48px;
	z-index: 5;
}
.hero-content-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-wrap: wrap;
}
.about-us-hint-container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	position: relative;
	align-self: flex-end;
	padding: 64px 0;
	z-index: 5;
}
.about-us-hint-container::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	background-color: var(--color-alt);
	filter: brightness(90%);
	opacity: 0.8;
}
#about-us-btn {
	font-size: var(--fs-xxxxl);
	color: var(--color-main);
	border-color: var(--color-main);
	display: flex;
	z-index: 5;
}
#about-us-btn span {
	display: flex;
}
#about-us-btn span span {
	font-size: var(--fs-xxxxl);
}

#about-us-arrow {
	margin: 4px 8px;
}

/*about section*/
#about-section {
position: relative;
height: 100%;
}
.about-nav {
	width: 64%;
	left: 18%;
	top: 16px;
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: space-between;
}
.about-read-bar {
	width: 60%;
	height: 100%;
	height: 8px;
	border-radius: 64px;
	display: flex;
}
.read-bar-left {
	width: 50%;
	height: 100%;
	background-color: var(--color-alt);
}
.read-bar-right {
	width: 50%;
	background-color: var(--color-main);
}
.about-us-slide {
	position: absolute;
	height: 100vh;
	width: 100%;
	opacity: 0;
	overflow: hidden;
	display: flex;
	z-index: -2;
	transition: 0.4s all ease;
}
.about-us-slide.active {
	z-index: -1;
	opacity: 1;
	display: flex;
}
.about-us-left {
	width: 50%;
	height: 100%;
	background-color: var(--color-main);
}

.about-us-desc {
	font-size: var(--fs-lg);
	padding: 8px 0;
}

.about-us-right {
	width: 50%;
	background-color: var(--color-alt);
}
.about-us-inner {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
	padding: 112px 112px 64px 112px;
}
.about-us-img-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(16px -16px 2px #000000);
}
.about-us-img-container img {
	height: 100%;
}

#contact-section {
}
.contact-container {
	min-height: 100%;
	background-color: var(--color-main);
	padding: 8px 40px;
	display: flex;
	flex-direction: column;
}
.contact-container > h2 {
	font-size: var(--fs-xxxxl);
	margin: 64px 0 32px 0;
}

.socials-row {
	width: 100%;
	word-wrap: break-word;
	display: flex;
	margin: 16px 0;
}
.about-info-text {
	font-size: var(--fs-xxxl);
	font-weight: normal;
	margin: 64px 0;
}
.socials-item {
	width: 64px;
	margin: 24px 8px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.socials-item img {
	width: 100%;
	max-height: 100%;
}
.write-us-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
}
.write-us-title {
	font-size: var(--fs-xxl);
	font-weight: normal;
	margin: 16px 0;
}
