body {
	overflow: hidden;
}
#landing-container {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0;
}

#landing-section {
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	background-color: var(--color-main);
}
.landing-img-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 10px);
	width: 100%;
}
.landing-bg-img {
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	z-index: 2;
	filter: grayscale(20%) contrast(90%) blur(3px) brightness(64%);
}

.landing-content-container {
	height: 100%;
	position: relative;
	z-index: 3;
}
.landing-content-bg {
	height: 100%;
}
.landing-content {
	position: absolute;
	top: 80px;
	left: 128px;
}
.sign-in-container {
	background-color: var(--color-main-lt);
	width: 20%;
	padding: 24px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
}

.about-us-hint-container {
	position: absolute;
	right: 0px;
	bottom: -20px;
	z-index: 3;
}
#about-us-btn {
	margin: 0;
	font-size: var(--fs-xl);
	position: absolute;
	z-index: 4;
	bottom: 36%;
	right: 12%;
}

/*about section*/
#about-section {
	height: 100%;
	overflow: hidden;
	position: relative;
}
.about-us-slide {
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: -2;
}
.about-us-slide.active {
	z-index: -1;
	display: block;
}
.about-1 {
	background-color: red;
}
.about-2 {
	background-color: green;
}
.about-3 {
	background-color: blue;
}

#contact-section {
	height: 100%;
	overflow-y: scroll;
}
.contact-container {
	height: 100%;
	background-color: var(--color-accent);
	padding: 64px 36px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.socials-row {
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
	display: flex;
}
.socials-item {
	height: 300px;
	width: 300px;
	margin: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.socials-item img {
	width: 100%;
	max-height: 100%;
}
#landing-footer {
	height: 200px;
	background-color: var(--color-main);
}
