body {
	overflow: hidden;
}
#landing-container {
	flex-grow: 1;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0;
	color: var(--color-main);
}

#landing-section {
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	background-color: var(--color-main);
}
.landing-img-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.landing-bg-img {
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	z-index: 2;
	filter: brightness(88%) contrast(124%);
}
.landing-content-container {
	height: 100%;
	width: 50%;
	max-width: 720px;
	background-color: var(--color-main);
	display: flex;

	justify-content: center;
	position: relative;
	overflow: hidden;
}
.landing-section-bg {
	position: absolute;
	z-index: 3;
	height: 100%;
	width: 100%;
	background: linear-gradient(
		15deg,
		rgba(0, 0, 0, 0.9) 0%,
		rgba(0, 0, 0, 0.5) 50%,
		rgba(0, 0, 0, 0) 100%
	);
}
.landing-content {
	padding: 116px 0;
	z-index: 4;
}

.hero-title {
	font-size: var(--fs-hero);
	-webkit-text-stroke: 4px var(--color-alt); /* Width and color of the outline */
	-webkit-text-fill-color: white;
	font-weight: bolder;

	margin: 0;
}
.moto {
	font-size: var(--fs-lg);
	-webkit-text-stroke: 1px var(--color-alt); /* Width and color of the outline */

	font-family: serif;
	font-weight: 500;
	padding: 0 24px;
}
.sign-in-container {
	width: 360px;
	padding: 24px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
}
.sign-in-or {
	color: var(--color-main);
	font-size: var(--fs-sm);
	width: 100%;
	text-align: center;
	margin: 8px 0;
	opacity: 75%;
}
.register-link {
	color: var(--color-main);
	font-size: var(--fs-m);
	text-align: center;
	margin: 4px 0;
}
.landing-content-bg {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	opacity: 1;
	min-width: 100%;
	height: 100%;
}
.about-us-hint-container {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	height: 100%;
	margin-bottom: 360px;
	flex-grow: 1;
	z-index: 4;
}
#about-us-btn {
	margin: 8px 0;
	font-size: var(--fs-xxxxl);
	color: var(--color-main);
	border-color: var(--color-main);
	display: flex;
	align-items: center;
}
#about-us-btn span {
	display: flex;
}
#about-us-btn span span {
	font-size: var(--fs-xxxxl);
}

#about-us-arrow {
	margin: 4px 8px;
}

/*about section*/
#about-section {
	height: 100%;
	overflow: hidden;
	position: relative;
}
.about-us-slide {
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: -2;
}
.about-us-slide.active {
	z-index: -1;
	display: flex;
}
.about-us-left {
	width: 50%;
	height: 100%;
	background-color: var(--color-main);
}

.about-us-desc {
	font-size: var(--fs-lg);
}

.about-us-right {
	width: 50%;
	height: 100%;
	display: block;
	background-color: var(--color-alt);
}
.about-us-inner {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	height: 100%;
	width: 100%;
	padding: 112px 112px 64px 112px;
}
.about-us-img-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(16px -16px 2px #000000);
}
.about-us-img-container img {
	height: 100%;
}
.about-1 {
	background-color: red;
}
.about-2 {
	background-color: green;
}
.about-3 {
	background-color: blue;
}

#contact-section {
	height: 100%;
	overflow-y: scroll;
}
.contact-container {
	height: 100%;
	background-color: var(--color-accent);
	padding: 64px 36px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.socials-row {
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
	display: flex;
}
.socials-item {
	height: 300px;
	width: 300px;
	margin: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.socials-item img {
	width: 100%;
	max-height: 100%;
}
#landing-footer {
	height: 200px;
	background-color: var(--color-main);
}
