{% extends "shared/base.html" %}
<!--css-->
{%block page_css%} {%load static%}
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'landing/css/landing.css'%}" />
{%endblock%}
<!--template-->
{%block content%}
<main id="landing-container">
	<section id="landing-section">
		<div class="landing-content-container">
			<div class="landing-content">
				<div class="hero-row">
					<h1 class="hero-title">YoLo</h1>
				</div>
				<span class="moto">Te būs mājaslapas sauklis</span>
				<div class="sign-in-container">
					<h2>Pieslēgties</h2>
					<label>Lietotājvārds:</label>
					<input class="light" type="text" />
					<label>Parole:</label>
					<input class="light" type="text" />
					<a class="button dark text-wiggle"><span>Pieslēgties</span></a>
					<span class="sign-in-or">vai</span>
					<div class="register-link">
						<a class="link light text-rise"><span>Izveidot profilu</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="about-us-hint-container">
			<a
				id="about-us-btn"
				class="link light space-out-text-anim wave-animation">
				{% for letter in "Par mums" %} {% if letter == ' ' %}
				<span>&nbsp;</span>
				{% else %}
				<span>{{ letter }}</span>
				{% endif %} {% endfor %}
				<img
					id="about-us-arrow"
					src="{%static 'landing/img/icons/about-us-arrow.png'%}" />
			</a>
		</div>
		<div class="landing-section-bg"></div>
		<div class="landing-img-container">
			{% for image in landing_images%} {%load static%}
			<img class="landing-bg-img" src="{{ image.landing_image.url }}" alt="" />
			{%endfor%}
		</div>
	</section>
	<section id="about-section">
		<article class="about-us-slide about-1 active"></article>
		<article class="about-us-slide about-2"></article>
		<article class="about-us-slide about-3"></article>
	</section>
	<section id="contact-section">
		<div class="contact-container">
			<h2>Pievienojies mums!</h2>
			<div class="socials-row">
				{%for item in social_items%}
				<a class="socials-item">
					{%load static%}
					<img class="" src="{{item.social_image}}" alt="No picture" />
				</a>
				{%endfor%}
			</div>
		</div>
		<footer id="landing-footer">sdffsdfds</footer>
	</section>
</main>

{%endblock%}

<!--page-specific-js-->
{%block page_js%}

<script src="{% static 'landing/js/landing-gallery.js' %}"></script>
<script src="{% static 'landing/js/section-snap.js' %}"></script>
<script src="{% static 'shared/js/wave-jump-anim.js' %}"></script>

{%endblock%}
