{% extends "shared/base.html" %}
<!--css-->
{%block page_css%} {%load static%}
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'landing/css/landing.css'%}" />
{%endblock%}
<!--template-->
{%block content%}
<main id="landing-container">
	<section id="landing-section">
		<div class="landing-content-container">
			<!-- prettier-ignore -->
			<img class="landing-content-bg" 
				 src={% static "landing/svg/landing-blob-lg.svg"%} alt=""/>
			<div class="landing-content">
				<h1 class="main-title">
					TEBUSLEILSVIRSRAKSTSAKTIKLOTILIELSUNVARBUTIESUZPRIEKSU
				</h1>
				<div class="sign-in-container">
					<h2>Pieslēgties</h2>
					<label>Lietotājvārds</label>
					<input type="text" />
					<label>Parole</label>
					<input type="text" />
					<a class="button">Pieslēgties</a>
					<span>vai</span>
					<a>Reģistrēties</a>
				</div>
			</div>
		</div>
		<div class="about-us-hint-container">
			<!-- prettier-ignore -->
			<img class="about-us-hint-bg" 
				 src={% static "landing/svg/landing-blob-sm.svg"%} alt=""/>
			<a id="about-us-btn" class="button">Par mums</a>
		</div>

		<div class="landing-img-container">
			{% for image in landing_images%} {%load static%}
			<img class="landing-bg-img" src="{{ image.landing_image.url }}" alt="" />
			{%endfor%}
		</div>
	</section>
	<section id="about-section">
		<article class="about-us-slide about-1 active"></article>
		<article class="about-us-slide about-2"></article>
		<article class="about-us-slide about-3"></article>
	</section>
	<section id="contact-section">
		<div class="contact-container">
			<h2>Pievienojies mums!</h2>
			<div class="socials-row">
				{%for item in social_items%}
				<a class="socials-item">
					{%load static%}
					<img class="" src="{{item.social_image}}" alt="No picture" />
				</a>
				{%endfor%}
			</div>
		</div>
		<footer id="landing-footer">sdffsdfds</footer>
	</section>
</main>

{%endblock%}

<!--page-specific-js-->
{%block page_js%}

<script src="{% static 'landing/js/landing-gallery.js' %}"></script>
<script src="{% static 'landing/js/section-snap.js' %}"></script>

{%endblock%}
