{% extends "shared/base.html" %}
<!--css-->
{%block page_css%} {%load static%}
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'landing/css/landing.css'%}" />
{%endblock%}
<!--template-->
{%block content%}
<main id="landing-container">
	<section id="landing-section">
		<div class="landing-img-container">
			{% for image in landing_images%} {%load static%}
			<img class="landing-bg-img" src="{{ image.landing_image.url }}" alt="" />
			{%endfor%}
		</div>

		<div class="landing-content">
			<img src={% static "landing/svg/hero-wave.svg"%}/>
		</div>
	</section>
	<section id="about-section">
		<article class="about-us-slide about-1 active"></article>
		<article class="about-us-slide about-2"></article>
		<article class="about-us-slide about-3"></article>
	</section>
	<section id="contact-section">
		<div class="contact-container">
			<h2>Pievienojies mums!</h2>
			<div class="socials-row">
				{%for item in social_items%}
				<a class="socials-item">
					{%load static%}
					<img class="" src="{{item.social_image}}" alt="No picture" />
				</a>
				{%endfor%}
			</div>
		</div>
		<footer id="landing-footer">sdffsdfds</footer>
	</section>
</main>

{%endblock%}

<!--page-specific-js-->
{%block page_js%}

<script src="{% static 'landing/js/landing-gallery.js' %}"></script>
<script src="{% static 'landing/js/section-snap.js' %}"></script>

{%endblock%}
